.separation-actions {
	margin-bottom: 1em;
}

.dimension-img {
	width: 4em;
	height: 4em;
}

.font-glyph {
	font-size: 2em;
}

.v-adjust-table-label {
	padding-top: 1.25em;
}

.v-adjust-table-icon {
	padding-top: 0.5em;
}

.v-adjust-add-btn {
	padding-top: 1px;
	margin-bottom: 0;
}

.input-group,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 0;
}

.image-click{
    cursor: pointer;
}

.settings-span{
	color: #428bca;
}

a.settings-span:hover{
	color: #2a6496;
}