.btn-login {
	margin-top: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 4px;
	background-color: rgb(223,74,50);
}

.btn-height-img {
	height:40px
}

.separator {
	border: 0;
	height: 0;
	border-bottom: 2px solid #e5e5e5;
	width: 80%;
	margin: 30px auto;
}

.padding-page{
	padding-top: 60px;
}