.v-adjust-radio-label {
	padding-top: 0.25em;
}

.form-control[disabled] {
  cursor: default;
  background-color: #fff;
}

.padding-charts{
	padding: 50px 0px 30px;
}

div.jqplot-table-legend-swatch {
	padding: 0px 2px 0px;
}

div.jqplot-table-legend-swatch-outline {
    border: 1px solid #666666;
    margin-left : 6px;
    margin-right : 1px;
    padding : 0px;
}

.jqplot-point-label {
  color: #1E1E1E;
  font-weight:bold;
}

.jqplot-yaxis {
	  color: #0A0A0A;
}