@(isActive: Boolean, numPage: Integer)

@importedCss = { <link href="@routes.Assets.at("stylesheets/admin.css")" rel="stylesheet" media="screen">}

@main("ISwear-Box", importedCss) {
  @templates.navbar(isActive, numPage)
} {  
  <div class="container" ng-app="adminApp">
    <div class="row" ng-controller="listCtrl">
      <table class="table table-hover">

        <thead>
          <tr>
            <th>Photo</th>
            <th>Prénom</th>
            <th>Dettes</th>
            <th>Fonctionnalités</th>
          </tr>
        </thead>
      
        <tbody ng-repeat="member in members">

              <tr>
                <td><img ng-src="@routes.Assets.at("{{member.picture}}")" alt="photo01" class="dimension-img" ng-click="browseImage()">
                  <input type="file" id="hiddenfile" style="display:none" onChange="angular.element(this).scope().onChange(angular.element(this).scope().member.idPerson)"/>
              </td>
                <td><p class="v-adjust-table-label">{{member.firstname}}</p></td>
                <td><p class="v-adjust-table-label">{{(member.debt)/100}} €</p></td>
                <td>

                  <a ng-click="openDischargeModal(member.idPerson, member.firstname, member.name)" title ="Acquitter" href="#"><span class="glyphicon glyphicon-credit-card font-glyph v-adjust-table-icon"></span></a>

                  <a ng-click="openModifyModal(member.idPerson, member.firstname, member.name)" title ="Modifier" href="#"><span class="glyphicon glyphicon-cog font-glyph v-adjust-table-icon"></span></a>

                  <a ng-click="openDeleteModal($index,member.idPerson,member.firstname,member.name)" title ="Supprimer" href="#"><span class="glyphicon glyphicon-remove font-glyph v-adjust-table-icon"></span></a>

                </td>
              </tr>

        </tbody>

      </table>

      <div class="container">
        <form ng-submit="addMember()">
          <div class="row separation-actions">

            <div class="col-xs-10 col-sm-5">
              <input type="text" class="form-control" ng-model="newMember.firstname" placeholder="Prénom" required>
            </div>

            <div class="col-xs-10 col-sm-5">
              <input type="text" class="form-control" ng-model="newMember.name" placeholder="Nom" required>
            </div>

            <div class="col-xs-2 col-sm-2">
              <button title="Ajouter un membre" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"/>
              </button>
            </div>

          </div>
        </form>
        
        <form ng-submit="updateAmount()">
          <div class="row separation-actions">

            <div class="pull-right col-xs-2 col-sm-2">
              <button title="Changer la pénalité" type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-ok"/>
              </button>
            </div>

            <div class="pull-right col-xs-10 col-sm-5">
              <div class="input-group">
                <span class="input-group-addon">Pénalité : {{amountTag}}</span>
                <input ng-keypress="isNumeric($event)" ng-model="amount" type="text" class="form-control" id="amount" maxlength="10" placeholder="Montant de la pénalité" required>
                <span class="input-group-addon">cts</span>
              </div>
            </div>

          </div>
		</form>
      </div>

      <div id="modifyMember" class="modal fade vcenter" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <form ng-submit="modifyMember()">
            <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <label class="modal-title">Modification d'un membre</label>
              </div>

              <div class="modal-body">
                <p>
                  Prénom :
                  <input type="firstname" class="form-control" ng-model="modMember.firstname" placeHolder="{{firstname}}"/>
                </p>
                <p>
                  Nom :
                  <input type="name" class="form-control" ng-model="modMember.name" placeHolder="{{name}}"/>
                </p>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" title="Modifier un membre" class="btn btn-success">Modifier</button>
              </div>

            </div>
          </form>
        </div>
      </div>

      <div id="deleteMember" class="modal fade vcenter" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <form ng-submit="deleteMember(member.idPerson)">
            <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <label class="modal-title">Suppression d'un membre</label>
              </div>

              <div class="modal-body">
                <p>
                  Prénom :
                  <input readonly="true" type="firstname" class="form-control" placeHolder="{{firstname}}"/>
                </p>
                <p>
                  Nom :
                  <input readonly="true" type="name" class="form-control" placeHolder="{{name}}"/>
                </p>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" title="Modifier un membre" class="btn btn-success">Supprimer</button>
              </div>

            </div>
          </form>
        </div>
      </div>

      <div id="dischargeMember" class="modal fade vcenter" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <form ng-submit="dischargeMember()">
            <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <label class="modal-title">Acquitter un membre</label>
              </div>

              <div class="modal-body">
                <p>
                  Prénom :
                  <input readonly="true" type="firstname" class="form-control" placeHolder="{{firstname}}"/>
                </p>
                <p>
                  Nom :
                  <input readonly="true" type="name" class="form-control" placeHolder="{{name}}"/>
                </p>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" title="Modifier un membre" class="btn btn-success">Acquitter</button>
              </div>

            </div>
          </form>
        </div>
      </div>

    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="@routes.Assets.at("javascripts/admin.js")"></script>
  <script src="@routes.Assets.at("javascripts/bootstrap.js")"></script>
}