@(isActive: Boolean, numPage: Integer)

@main("ISwear-Box") {
  @templates.navbar(isActive, numPage)
} {
	<div class="container" ng-controller="boCtrl">
		<div class="row">
	        <div class="row separation-actions" >
				<div class="col-xs-12 col-sm-4 col-sm-offset-1">
					<div class="col-sm-12 h-center">
	            		<label>
	            			Rechercher un utilisateur :
	            		</label>
	            	</div>

	            	<form class="col-sm-12 h-center" ng-submit="search()" >
			            <div class="input-group">
			              	<input ng-model="tosearch" id="tosearch" type="text" class="input-sm form-control" placeholder="Entrez email">
			            
				            <span class="input-group-btn">
					        	<button title="Rechercher l'utilisateur" type="submit" class="btn btn-primary btn-sm">
					        		<span class="glyphicon glyphicon-search"></span>
			            			Chercher
			            		</button>
					      	</span>
			            </div>
				    </form>
				</div>

	            <div class="col-xs-12 col-sm-4 col-sm-offset-2">
	            	<div class="col-sm-12 h-center">
	            		<label>
	            			Filtrer par autorisation :
	            		</label>
	            	</div>

	            	<div class="col-sm-12 h-center">
		            	<div class="btn-group btn-group-justified" role="group" aria-label="...">
		            		<div class="btn-group" role="group">
								<button title="Filtrer par Administrateur" class="btn btn-success btn-sm">
	            					All
	            	  			</button>
							</div>

							<div class="btn-group" role="group">
								<button title="Filtrer par Administrateur" class="btn btn-primary btn-sm">
	            					Administrator
	            	  			</button>
							</div>

							<div class="btn-group" role="group">
						    	<button title="Filtrer par Utilisateur banni" class="btn btn-danger btn-sm">
	            					Blacklisted
	            				</button>
							</div>

							<div class="btn-group" role="group">
						    	<button title="Filtrer par Utilisateur simple" class="btn btn-default btn-sm">
	            					Regular
	            				</button>
							</div>
						</div>
					</div>
	            </div>
	        </div>

			<div class="table-responsive">
				<table class="table table-hover table-centered well well-sm">
		  			<thead>
		  				<tr>
		  					<th class="table-centered">Adresse email</th>
		  					<th class="table-centered">Autorisation</th>
		  				</tr>
		  			</thead>

					<tbody ng-repeat="consumer in consumers">
	    				<tr class="item-clickable" ng-click="goConsumer(consumer.email)">
	    					<td>{{consumer.email}}</td>
				            <td>
		                    	<span ng-if="(consumer.admin)" class="label label-primary">
		                    		Administrator
		                    	</span>
		                    	<span ng-if="(consumer.blacklisted)" class="label label-danger">
		                    		Blacklisted
		                    	</span>
		                    </td>
	    				</tr>
	    			</tbody>
		  		</table>
			</div>
		</div>
	</div>
}