@(isActive: Boolean, numPage: Integer)

@main("ISwear-Box") {
  @templates.navbar(isActive, numPage)
} {
	<div class="container" ng-controller="boCtrl">
		<div class="row separation-actions">
			<h3 class="form-signin-heading h-center">Back-Office</h3>
			
			<form ng-submit="search()" >
	          <div class="row separation-actions" >
	            <div class="col-xs-12 col-sm-4">
	              	<input ng-model="tosearch" id="tosearch" type="text" class="input-sm form-control" placeholder="Rechercher un utilisateur par son adresse email">
	            </div>
	            
	            <div class="col-xs-12 col-sm-2">
	              <button title="Rechercher l'utilisateur" type="submit" class="btn btn-primary btn-sm">
            		<span class="glyphicon glyphicon-search"></span>
            		Rechercher
            	  </button>
	            </div>
	          </div>
		    </form>

			<div class="table-responsive">
				<table class="table table-hover table-centered well well-sm">

		  			<thead>
		  				<tr>
		  					<th class="table-centered">Adresse email</th>
		  					<th class="table-centered">Autorisation</th>
		  				</tr>
		  			</thead>
					<tbody ng-repeat="consumer in consumers">
	    				<tr class="image-click">
	    					<td>{{consumer.email}}</td>
				            <td>
		                    	<span ng-if="(true)" class="label label-danger">
		                    		Administrator
		                    	</span>
		                    	<span ng-if="(true)" class="label label-default">
		                    		Blacklisted
		                    	</span>
		                    </td>
	    				</tr>
	    			</tbody>
		  		</table>
			</div>
		</div>
	</div>
}