 @main("ISwear-Box") { @templates.navbar(0, 0) } {
<div class="container padding-page">

	<div class="panel panel-danger" role="alert">
		<div class="panel-heading">
			<h3 class="panel-title">
				<span class="glyphicon glyphicon-minus-sign"></span>
				Vous n'êtes plus autorisé &agrave; utiliser cette application !
			</h3>

		</div>
		<div class="panel-body">
			<p>
				Pour tout renseignements, veuillez contacter l'administrateur du site.</br>
				Merci.
			</p>
		</div>

	</div>

</div>

}
