@(urlGoogle: String, isActive: Boolean, numPage: Integer)

@importedCss = { <link href="@routes.Assets.at("stylesheets/index.css")" rel="stylesheet" media="screen">}

@main("ISwear-Box", importedCss) {
  @templates.navbar(isActive, numPage)
} {  
	<div class="container">
	<p>
		<h1 class="form-signin-heading h-center">Connexion</h1>
	</p>
    	<div class="row separation-actions">
    		<div class="col-xs-10 col-sm-5 col-sm-offset-1">
                <div class="well well-sm ">
                
                	<div>
						<h4>À quoi ça sert une tirelire à gros mots ?</h4>
						<ul>
						    <li><h5>Infliger des pénalités aux membres de la famille.</h5></li>
							<li><h5>Corriger de mauvaises habitudes de langage.</h5></li>
						</ul>
					</div>
                <hr class="separator">
					<div>
						<h4>I-Swear Box</h4>
						<ul>
						    <li><h5>Version numérique de la traditionnelle “tirelire à gros mots”.</h5></li>
							<li><h5>Enregistrez les membres de votre famille.</h5></li>
							<li><h5>Par un simple geste, incrémentez la dette d'un membre.</h5></li>
							<li><h5>Observez l’évolution dans le temps.</h5></li>
						</ul>
					</div>



				</div>
		</div>
	      <div class="col-xs-10 col-sm-5">
					<div class="well well-sm">

            	<h3 class="form-signin-heading h-center">Connexion avec votre compte google</h3>
              <div class="h-center ">
								<a href=@urlGoogle>
									<button  class="btn btn-login btn-danger"> 
										<img src=@routes.Assets.at("images/googleIcone.png") class="btn-height-img"/> GOOGLE
									</button>
								</a>
							</div>

          </div>
	      </div>
	    </div>

  </div>   
}
