@(urlGoogle: String, isActive: Boolean, numPage: Integer)

@importedCss = { <link href="@routes.Assets.at("stylesheets/index.css")" rel="stylesheet" media="screen">}

@main("ISwear-Box", importedCss) {
  @templates.navbar(isActive, numPage)
} {  
	<div class="container">

    	<div class="row">
    		<div class="col-xs-12 col-sm-10 col-sm-offset-1">

					<div class="border-row">
						<h4>L’application</h4>
						<h5>L’application I-Swear Box a pour but de remplacer la traditionnelle “tirelire à gros mots”.
							</br> L'application permet d'enregistrer tout les membres sa famille. Par un simple geste, l'utilisateur peut ensuite incrémenter la dette d'un membre d'une valeur choisie préalablement. Enfin, lorsque le membre a payé sa dette, un bouton permet de l'acquitter et de remettre sa dette à zéro.
							</br> De plus, des statistiques permettent de voir l’évolution dans le temps du nombre de gros mots 
							prononcés par un membre de la famille.</h5>
					</div>

					<div class="border-row">
						<h4>À quoi ça sert une tirelire à gros mots ?</h4>
						<h5>Le but d’une tirelire à gros mots est d'infliger des pénalités aux membres d'une famille 
							quand ils prononcent des gros mots, ceci afin de corriger de mauvaises habitudes de langage.</h5>
					</div>

					<div>
						<h4>Pourquoi une application ?</h4>
						<h5>L'objectif de l'application est de proposer aux familles une version numérique de la tirelire
							à gros mots.
							</br> En effet, la tirelire prenant une certaine place, elle n'est généralement utilisée par une famille que dans son domicile.
							</br> De plus, la personne jurant ne possède pas toujours de quoi acquitter sa dette dans l'instant. Dans ce cas, il faut tenir les comptes sur un bout de papier.
							</br>I-Swear Box centralise et simplifie ce fonctionnement tout en permettant l'utilisation de la tirelire peu importe l'endroit et le moment.</h5>
					</div>	

				</div>
			</div>

			<div class="row">
	      <div class="col-xs-10 col-sm-8 col-xs-offset-1 col-sm-offset-2">
					<div class="well well-sm">

            	<h2 class="form-signin-heading h-center">Connexion avec votre compte google.</h2>
						
              <div class="h-center">
								<a href=@urlGoogle>
									<button  class="btn btn-login btn-danger"> 
										<img src=@routes.Assets.at("images/googleIcone.png") class="btn-height-img"/> GOOGLE
									</button>
								</a>
							</div>

          </div>
	      </div>
	    </div>
    
  </div>   
}
