@(urlGoogle: String, isActive: Boolean, numPage: Integer)

@importedCss = { <link href="@routes.Assets.at("stylesheets/index.css")" rel="stylesheet" media="screen">}

@main("ISwear-Box", importedCss) {
  @templates.navbar(isActive, numPage)
} {  
	<div class="container">
	<p>
		<h1 class="form-signin-heading h-center">Connexion</h1>
		</br>
	</p>
    	<div class="row separation-actions">
    		<div class="col-xs-10 col-sm-5 col-sm-offset-1">
                <div class="well well-sm ">
                
                	<div>
						<h4>A quoi sert une tirelire à gros mots ?</h4>
						<ul>
						    <li>Infliger des pénalités aux membres de la famille.</li>
							<li>Corriger de mauvaises habitudes de langage.</li>
						</ul>
					</div>
                <hr class="separator">
					<div>
						<h4>I-Swear Box</h4>
						<ul>
						    <li>Version numérique de la traditionnelle à tirelire à gros mots.</li>
							<li>Enregistrez les membres de votre famille.</li>
							<li>Par un simple geste, incrémentez la dette d'un membre.</li>
							<li>Observez l'évolution dans le temps.</li>
							<li>Et bien plus !</li>
						</ul>
					</div>



				</div>
		</div>
	      <div class="col-xs-10 col-sm-5">
					<div class="well well-sm">

            	<h3 class="form-signin-heading h-center">Connexion avec votre compte google</h3>
              <div class="h-center ">
								<a href=@urlGoogle>
									<button  class="btn btn-login btn-danger"> 
										<img src=@routes.Assets.at("images/googleIcone.png") class="btn-height-img"/> GOOGLE
									</button>
								</a>
								
		      </div>
		  </div>
        </div>
		<div class="col-xs-10 col-sm-5">
            <div class="well well-sm">
			  <span class="h-center ">
                   <img src=@routes.Assets.at("images/Connexion_image.png") class="img-size"/>
              </span>
          </div>
       </div>
	      
	</div>

  </div>   

}
