@(name: String, isActive: Boolean, numPage: Integer)

@main("ISwear-Box")  {
  @templates.navbar(isActive, numPage)
} {

  <div class="container" ng-controller="userCtrl">
  	<div class="row">
      <div class="table-responsive">
    		<table class="table table-hover well well-sm">
    			<thead>
    				<tr>
    					<th>Photo</th>
    					<th>Prénom</th>
    					<th>Dette</th>
    				</tr>
    			</thead>

    			<tbody ng-repeat="member in members">
    				<tr ng-if="($index >= numPage*itemsPerPage) && ($index < numPage*itemsPerPage+itemsPerPage)" ng-click="increase(member.idPerson)" class="image-click">
    					<td><img ng-src={{member.picture}} alt="photo01" class="dimension-img"></td>
              <td><p class="v-adjust-table-label">{{member.firstname}}</p></td>
              <td><p class="v-adjust-table-label">{{(member.debt)/100}} €</p></td>
    				</tr>
    			</tbody>
    		</table>
      </div>

	  	<div ng-if="members.length > itemsPerPage" class="h-center" >
			  <ul ng-repeat="i in range"  class="pagination">
        	<li ng-if="($index != numPage)">
            <a ng-click="pagination($index)" href="#">{{i}}</a>
          </li>

          <li ng-if="($index == numPage)" class="active">
            <a ng-click="pagination($index)" href="#">{{i}}</a>
          </li>
    		</ul>
	  	</div>

  	</div>
  </div>
}
