@(name: String, isActive: Boolean, numPage: Integer)

@main("ISwear-Box")  {
  @templates.navbar(isActive, numPage)
} {
  <script src="@routes.Assets.at("javascripts/controllers/user_controller.js")"></script>

  <div class="container" ng-controller="userCtrl">
  	<div class="row">
  		<table class="table table-hover">

  			<thead>
  				<tr>
  					<th>Photo</th>
  					<th>Prénom</th>
  					<th>Dettes</th>
  				</tr>
  			</thead>

  			<tbody ng-repeat="member in members">

  				<tr ng-if="($index >= numPage*itemsPerPage) && ($index < numPage*itemsPerPage+itemsPerPage)" >
  					<!-- Dynamic HTML part to add for every member -->
  					<td><img ng-src={{member.picture}} alt="photo01" class="dimension-img image-click" ng-click="increase(member.idPerson)"></td>
                      <td><p class="v-adjust-table-label">{{member.firstname}}</p></td>
                      <td><p class="v-adjust-table-label">{{(member.debt)/100}} €</p></td>

  				</tr>

  			</tbody>
  		</table>

	  	<div ng-if="members.length > itemsPerPage" class="h-center" >
	  	
			<ul ng-repeat="i in range"  class="pagination">
 			
        	<li ng-if="($index != numPage)">
            <a ng-click="pagination($index)" href="#">{{i}}</a>
          </li>

          <li ng-if="($index == numPage)" class="active">
            <a ng-click="pagination($index)" href="#">{{i}}</a>
          </li>
   
    		</ul>
	  	</div>


  	</div>
  </div>
}
