@(name: String, isActive: Boolean, numPage: Integer)

@importedCss = {
  <link href="@routes.Assets.at("stylesheets/user.css")" rel="stylesheet" media="screen">
  <link href="@routes.Assets.at("stylesheets/admin.css")" rel="stylesheet" media="screen">
}

@main("ISwear-Box", importedCss)  {
  @templates.navbar(isActive, numPage)
} {
  <div class="container" ng-app="userApp">
  	<div class="row" ng-controller="listCtrl">
  		<table class="table table-hover">

  			<thead>
  				<tr>
  					<th>Photo</th>
  					<th>Prénom</th>
  					<th>Dettes</th>
  					<th>Incrémenter</th>
  				</tr>
  			</thead>

  			<tbody ng-repeat="member in members">

  				<tr>
  					<!-- Dynamic HTML part to add for every member -->
  					<td><img ng-src="@routes.Assets.at("{{member.picture}}")" alt="photo01" class="dimension-img"></td>
                      <td><p class="v-adjust-table-label">{{member.firstname}}</p></td>
                      <td><p class="v-adjust-table-label">{{(member.debt)/100}} €</p></td>
  					<td>
  					
  					<a ng-click="increase(member.idPerson)" title="Incrementer" href="#"><span class="glyphicon glyphicon-plus font-glyph v-adjust-table-icon"></span></a>

  					</td>
  				</tr>

  			</tbody>

  		</table>

  	</div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
  <script src="@routes.Assets.at("javascripts/user.js")"></script>
}
